.container {
    margin: 80px 0 38px 0;
    user-select: none;
}

.container p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    text-align: center;
}

.container p span {
    color: #780ebe;
}