.grid {
  margin: 40px 0 120px 0;
  min-height: 250px;
}

.grid > :first-child {
  display: flex;
  gap: 7px;
  align-items: center;
  user-select: none;
}

.grid > :first-child img {
  width: 14px;
}

.grid > :first-child p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* identical to box height */
  color: #000000;
}

.main {
  position: relative;
  width: 93%;
  margin: 0 auto;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 25px;
}

.noteControl {
  position: fixed;
  top: 50%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.219);
  left: 0;
  overflow-y: scroll;
  height: 0%;
  transition: all 500ms ease-in-out;
}

.show {
  height: 100% !important;
  top: 0 !important;
}

@media only screen and (min-width: 1000px) {
  .grid > :first-child p {
    font-size: 22px;
  }
  .grid > :first-child img {
    width: 20px;
  }
  .main {
    padding-left: 44px;
  }
}
